:root{
    --corEscuro:#0d0d0d;
    --corClaro:#f2f2f2;
    --corCinzaClaro:#bfbfbf;
    --corCinza:#8c8c8c;
    --corCinzaEscuro:#595959;
}
.text-justify {
    text-align: justify;
}

.button-accordion{
    background-color: var(--corEscuro)!important;
    color: #fff!important;
}
.accordion-button:focus{
    box-shadow: 0px 0px 0px 2px var(--corEscuro)!important;
}
.bg-banner{
    background-color: var(--corEscuro);
}
.navbar-dark .nav{
    --bs-nav-link-color:var(--corClaro);
}



#presidente .btn, #senado .btn {
  text-decoration: none;
  background-color: #0d0d0d;
  color: #FFF;
  padding: 7px 18px;
  border-radius: 0;
}

#presidente .btn:hover, #senado .btn:hover {
  background-color: #333;
  color: #FFF;
}

#funcoes{
color: #0d0d0d !important;
font-weight: 600 !important;
}
