:root{
    --corEscuro:#0d0d0d;
    --corClaro:#f2f2f2;
    --corCinzaClaro:#bfbfbf;
    --corCinza:#8c8c8c;
    --corCinzaEscuro:#595959;
}
.text-justify {
    text-align: justify;
}

.button-accordion{
    background-color: var(--corEscuro)!important;
    color: #fff!important;
}
.accordion-button:focus{
    box-shadow: 0px 0px 0px 2px var(--corCinzaClaro)!important;
}
.bg-banner{
    background-color: var(--corEscuro);
}
.navbar-dark .nav{
    --bs-nav-link-color:var(--corClaro);
}



#presidente .btn, #senado .btn {
  text-decoration: none;
  background-color: #0d0d0d;
  color: #FFF;
  padding: 7px 18px;
  border-radius: 0;
}

#presidente .btn:hover, #senado .btn:hover {
  background-color: #333;
  color: #FFF;
}

#funcoes{
color: #0d0d0d !important;
font-weight: 600 !important;
}
.nav-claro .nav-link {
    color: var(--corClaro) !important;
}

.nav-claro .nav-link:hover{
    text-decoration: underline;
}


.botao-subir{
    text-decoration: none;
    position:fixed;
    right: 30px;
    bottom: 10px;
    background-color:var(--corEscuro);
    color: var(--corClaro);
    font-weight: bolder;
  }
  .botao-subir:hover, #menu a:hover{
    color: var(--corClaro);
  }
  
  #menu a{
    background-color:var(--corEscuro);
    color: var(--corClaro);
  }
  .ancora-subir{
    color: var(--corClaro)!important;
  }



  /* css página Linha do Tempo dos Presidentes */
#linha_tempo {
    font-size: 1em;
  }
  
  /* Fonte da isso cria a linha tracejada atrás de cada section!! */
  /* Cuidado, é necessário ter essa imagem na pasta imagens */
  #linha_tempo .linha_tempo_section {
    font-size: 1em;
    background-image: url("/imagens/dashed_line.png");
    background-repeat: repeat-y;
    background-position: 50%;
  }
  
  
  /* Configurações dos cards */
  #linha_tempo .linha_tempo_card {
    width: 100%;
    box-shadow: 3px 3px;
  }
  @media (min-width: 768px) {
    #linha_tempo .linha_tempo_card {
      width: 60%;
    }
  }
  #linha_tempo .linha_tempo_card_img {
    width: 40%;
  }
